*{
    margin: 0;
    padding: 0;
}

/* body */
body{
    background-color: white;
    padding-left: 250px;
    padding-top: 100px;
}

.main{
    display: flex;
    gap: 20px;

}

.miracle-1{
    background-color: papayawhip;
    font-size: large;
    width: 170px;
    height: 230px;
    display: block;
    padding-left: 20px;
    padding-top: 40px;
    border-radius: 5px;
}

.illustration-create-post{
    height: 50px;
    padding-top: 10px;
}

.miracle-1 > h2{
    font-weight: bold;
    line-height: 1;
}

.em{
    color: blueviolet;
}

.miracle-2{
    background-color: blueviolet;
    color: white;
    width: 380px;
    height: 200px;
    justify-items: center;
    border-radius: 5px;
}

.mimi{
    font-size: larger;
    /* font-weight: bolder; */
    padding-top: 30px;
}

.h1{
    /* font-weight: bolder; */
    padding-left: 20px;
    padding-bottom: 10px;
}

.em-2{
    color: gold;
}

.illustration-five-stars{
    height: 20px;
    width: 120px;
}

.miracle-3{
    background-color: lavender;
    padding-left: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 150px;
    height: 350px;
    border-radius: 5px;
}

.mimi-1{
    padding-bottom: 10px;
}

.schedule-post{
    height: 200px;
    width: 200px;
    overflow: hidden;
}

.schedule-post img{
    width: 150px;
    height: 200px;
    margin-right: -1000px;
}

.mimi-2{
    font-size: smaller;
    padding-top: 10px;
}

.miracle-4{
    background-color: goldenrod;
    height: 300px;
    width: 170px;
    padding-left: 15px;
    padding-top: 20px;
    border-radius: 5px;
    position: relative;
    bottom: 120px;
}

.mimi-4{
    padding-bottom: 40px;
}

.illustration-ai-content{
    height: 150px;
    width: 140px;
}

.miracle-5{
    width: 170px;
    background-color: whitesmoke;
    height: 195px;
    border-radius: 5px;
    position: relative;
    bottom: 190px;
}

.mimi-5{
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 15px;
}

.illustration-multiple-platforms{
    width: 150px;
    height: 70px;
    padding-left: 20px;
    /* padding-bottom: 10px; */
}

.miracle-6{
    background-color: goldenrod;
    width: 170px;
    height: 195px;
    border-radius: 5px;
    position: relative;
    bottom: 190px;
}

.mimi-6{
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 10px;
    padding-top: 15px;
}

.illustration-consistent-schedule2{
    width: 140px;
    padding-left: 15px;
    padding-right: 10px;
}

.main-2{
    display: flex;
    gap: 30px;
}

.miracle-7{
    background-color: whitesmoke;
    width: 160px;
    height: 170px;
    padding-left: 10px;
    border-radius: 5px;
    position: relative;
    bottom: 290px;
    left: 220px;
}

.mimi-7{
    font-size: larger;
    padding-bottom: 10px;
    padding-top: 10px;

}

.miracle-7-p{
    font-size: small;
    padding-bottom: 20px;
}

.illustration-audience-growth{
    width: 120px;
    height: 50px;
}

.miracle-8{
    display: flex;
    gap: 5px;
    align-items: center;
    background-color: blueviolet;
    width: 370px;
    height: 170px;
    border-radius: 5px;
    position: relative;
    bottom: 290px;
    left: 225px;
}

.mimi-8{
    color: white;
    font-size: larger;
}

.illustration-grow-followers{
    height: 120px;
    width: 150px;
    padding-top: 10px;
    padding-left: 10px;
}

.main-3{
    display: flex;
    gap: 20px;
}